.description{
    border: solid 0.1px #cbe4d6;
    width: 950px;
    background-color: #b2d4c2; 
    margin: 20px 150px;
    border-radius: 2%;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(35, 59, 45, 0.5),
    0px 0px 15px rgba(38, 71, 52, 0.5),
    0px 0px 25px rgba(141, 198, 166, 0.5);
}
.description p{
    margin: 30px 35px;
    letter-spacing: 0.05em;
    line-height: 1.8;
}
.rev-btn{
    display: flex;
    flex-direction: column;
    
}

.rev-btn button{
    border-radius: 4%;
    border-color:rgb(32, 80, 32) ;
    background-color: rgb(32, 80, 32);
    color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(208, 234, 219, 0.5),
    0px 0px 15px rgba(17, 99, 52, 0.5),
    0px 0px 25px rgba(141, 198, 166, 0.5);
    width: 180px;
    margin: 15px 350px;
}
.rev-btn button:hover{
    background-color: rgb(2, 55, 2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),
    0px 0px 15px rgba(17, 99, 52, 0.5),
    0px 0px 25px rgba(141, 198, 166, 0.5);
}
.icon-cart{
    display: flex;
    justify-content: space-between;
}
@media(max-width:480px){
    .description{
        margin: 15px 20px;
        width: 90%;
        
    }
    .rev-btn button{
       
        margin: 15px 120px;
    }
    .heading{
        height: 50px;
    }
}